.klasse {
    color: red;
}

#identifikation {
    color: green;
}

#\31 \,2\,3\,Polizei\! {
    color: blueviolet;
}

/* Kommentar
geht auch über mehrer Zeilen wenn gewollt
*/
#\34 \,5\,6\,TestKlasse {
    color: brown;
}


